.sliding_panel{
    height: 60vh; 
    background-image: url("assets/sample\ panel\ pic.jpg");
    background-size: cover;
    background-position-y: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15); 
}

.content{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    height: 100vh; 
}


.section{
    margin-top: 8%; 
    margin-bottom: 8%; 
    width: 45%; 
}

.mid{
    margin: 4%; 
    border: gray solid 1.5px;
}

.box{
    height: 45%;  
    margin-bottom: 10%;   
    display: flex; 
    align-items: center;
}
.text{
    height: 45%; 
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
    color: #484747; 
    overflow: hidden;
    overflow-y: auto; 
    word-wrap: break-word; 
}

.first > p{
    text-align: right; 
}
.second > p{
    text-align: left;
}

.box > img{
    height: 100%; 
    width: 100%;
    border-radius: 10px;
    border: dotted white 0.5px; 
}

.caption{
    height: 20vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: #484747; 
}
.interactive_icons{
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.ii_container{
    width: 33.33333%; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

.ii_container img{
    height: 30%; 
    filter: invert(100%) sepia(4%) saturate(7462%) hue-rotate(230deg) brightness(114%) contrast(103%);
}

.green{
    background-color: #507B5C;
}
.blue{
    background-color: #367A85;
}
.indigo{
    background-color: #112227;
}


