body{ 
    margin: 0; 
    background-color: #FFFBE0;
}

header{
    height: 20vh; 
}
.sanchez{
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
}
header, footer{
    background-color: #DFCC47;
    display: flex; 
    align-items: center;
    color: white;  
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
}

/*Styling for logo*/
.logo{
    display: flex; 
    justify-content: left;
    align-items: center;   
    height: 80%; 
    width: 60%;
}

.img_container{
    height: 100%; 
    margin-right: 2%; 
}

.logo .img_container > img{
    height: 100%;
    
}

.brand_container{
    height: auto;
    width: auto; 
    display: flex; 
    flex-direction: column;
    justify-content: center;

}

.title{
    font-size: 64px;
}

.slogan{
    font-size: 20px; 
    margin-left: 10px; 
}

/*Styling for nav buttons*/
.nav{
     
    display: flex; 
    justify-content: space-around;
    width: 40%; 
}

.nav_btn{
    font-size: 18px;
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
}

.sliding_panel{
    height: 80vh; 
    background-image: url("assets/sample\ panel\ pic.jpg");
    background-size: cover;
    background-position-y: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15); 
}

.content{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    height: 100vh; 
}

.grid{
    padding-left: 10%;
    padding-right: 10%; 
}

.section{
    margin-top: 8%; 
    margin-bottom: 8%; 
    width: 45%; 
}

.mid{
    margin: 4%; 
    border: gray solid 1.5px;
}

.box{
    height: 45%;  
    margin-bottom: 10%;   
    display: flex; 
    align-items: center;
}
.text{
    height: 45%; 
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
    color: #484747; 
    overflow: hidden;
    overflow-y: auto; 
    word-wrap: break-word; 
}

.first > p{
    text-align: right; 
}
.second > p{
    text-align: left;
}

.box > img{
    height: 100%; 
    width: 100%;
    border-radius: 10px;
    border: dotted white 0.5px; 
}

.caption{
    height: 15vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    color: #484747; 
}
.interactive_icons{
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.ii_container{
    width: 33.33333%; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
}

.ii_container img{
    height: 30%; 
    filter: invert(100%) sepia(4%) saturate(7462%) hue-rotate(230deg) brightness(114%) contrast(103%);
}

.green{
    background-color: #507B5C;
}
.blue{
    background-color: #367A85;
}
.indigo{
    background-color: #112227;
}

footer{
    height: 15vh; 
    padding-bottom: 2.5%; 
}

.footer_content{
    height: 95%; 
    width: 100%; 
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.footer_container{
    height: 100%; 
    width: 30%; 
    max-width: 300px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
}


.footer_container > a{
    color: white; 
    font-size: 1.5em;
}

.icons{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icons img{
    height: 30px; 
    margin-left: 10px; 
    margin-right: 10px; 
    filter: invert(100%) sepia(4%) saturate(7462%) hue-rotate(230deg) brightness(114%) contrast(103%);
}

.last{
    font-size: 0.75em;
}

