body{ 
    margin: 0; 
    background-color: #FFFBE0;
}

header{
    height: 15vh; 
}
header, footer{
    background-color: #DFCC47;
    display: flex; 
    align-items: center;
    color: white;  
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
}

/*Styling for logo*/
.logo{
    display: flex; 
    justify-content: left;
    align-items: center;   
    height: 80%; 
    width: 60%;
}

.img_container{
    height: 100%; 
    margin-right: 2%; 
}

.logo .img_container > img{
    height: 100%;
    
}

.brand_container{
    height: auto;
    width: auto; 
    display: flex; 
    flex-direction: column;
    justify-content: center;

}

.title{
    font-size: 64px;
}

.slogan{
    font-size: 20px; 
    margin-left: 10px; 
}

/*Styling for nav buttons*/
.nav{
     
    display: flex; 
    justify-content: space-around;
    width: 40%; 
}

.nav_btn{
    font-size: 18px;
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
}

.sliding_panel{
    height: 50vh; 
    background-image: url("assets/sample\ panel\ pic.jpg");
    background-size: cover;
    background-position-y: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15); 
}

.content{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    height: 100vh; 
}

.grid{
    padding-left: 12.5%;
    padding-right: 12.5%; 
}

.section{
    margin-top: 8%; 
    margin-bottom: 8%; 
    width: 45%; 
}

.mid{
    margin: 4%; 
    border: gray solid 1.5px;
}

.box{
    height: 45%;  
    margin-bottom: 10%;   
    display: flex; 
    align-items: center;
}
.text{
    height: 45%; 
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
    color: #484747; 
    overflow: hidden;
    overflow-y: auto; 
    word-wrap: break-word; 
}

.first > p{
    text-align: right; 
}
.second > p{
    text-align: left;
}

.box > img{
    height: 100%; 
    width: 100%;
    border-radius: 10px;
    border: dotted white 0.5px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

footer{
    height: 15vh; 
    padding-top: 2.5%; 
    padding-bottom: 2.5%; 
}

.footer_content{
    height: 95%; 
    width: 100%; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid black;
}

.footer_container{
    border: solid white; 
    height: 100%; 
    width: 30%; 
}

